nav {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
nav h2 {
  font-size: 35px;
  margin-left: 10px;
}

nav p {
  margin-left: 10px;
  color: #bcb6b8;
  font-size: smaller;
}

nav ul {
  display: flex;
  list-style: none;
  margin: 0;

  padding: 0;
}

nav ul li {
  margin-left: 1px;
  margin-top: 15px;
}

.nav_li_img {
  margin-left: 10px;
}

.logo {
  display: flex;
}

.hr_img {
  background-image: url(/img/hr-img.png);
  background-repeat: repeat-x;
  width: 100%;
  height: 15px;
  border: 0;
}

.main_text p {
  color: #bcb6b8;
}
.main_text h1 {
  font-weight: bold;
  font-size: 50px;
}
.main_print {
  color: #bcb6b8;
}

.main_hero_img {
  width: 100%;
  height: auto;
}

.main_section {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  margin-top: 20px;
}

.main_img_text img {
  margin-bottom: 20px;
}

.main_img_text p {
  margin-bottom: 20px;
}

.list {
  background-image: url(../img/list-bg.png);
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  height: 300px;
  margin-top: 40px;
  margin-bottom: 40px;
  max-width: 50%;
}

.list_one {
  height: 100%;
  margin-top: 25px;
}

.list_one input {
  margin-top: 20px;
}

.list_two {
  margin-left: 100px;
  margin-top: 25px;
}

.list_two input {
  margin-top: 20px;
}

.main_footer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  margin-top: 20px;
}

.about img {
  float: left;
  margin-right: 15px;
}

hr {
  width: 50%;
}

.footer_display {
  display: flex;
  justify-content: space-between;
}

.btn_share {
  background-color: #bc7058;
  height: 40px;
  border: 0;
  cursor: pointer;
}

.footer_copyright {
  text-align: center;
  margin-bottom: 20px;
  margin-top: 20px;
}
